@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");

:root {
  --bg-color: #a7abcd;
  --btn-color: #fdf1b5;
  --card-color: #fff;
  --body-border: #e5e7eb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid var(--body-border);
  font-family: "Poppins", sans-serif;
}
main {
  width: 500px;
  background-color: var(--card-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
img {
  width: 100%;
  object-fit: contain;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
span {
  font-size: 1rem;
  opacity: 0.7;
}
.banner {
  background-color: var(--btn-color);
  display: inline-flex;
  padding: 10px;
  border-radius: 5px 100px 100px 5px;
  position: relative;
  bottom: 430px;
  right: 20px;
  font-weight: bold;
}

.content {
  padding: 0.5rem 1rem;
}

.content-body {
  margin-top: 1rem;
  font-weight: 500;
}
